@model Post

<form method="post" asp-controller="Posts" asp-action="@ViewBag.action" class="well col-md-8" enctype="multipart/form-data">
    @if (Model != null && Model.Id > 0)
    {
        <input asp-for="Id" type="hidden" />
    }

    <input name="shopId" type="hidden" value="@ViewBag.shopId"/>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ItemName">Name</label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalLikes">Likes</label>
        <input asp-for="TotalLikes" class="form-control" />
        <span asp-validation-for="TotalLikes" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Shares">Shares</label>
        <input asp-for="Shares" class="form-control" />
        <span asp-validation-for="Shares" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PreOrderDays">Pre-Order Days</label>
        <input asp-for="PreOrderDays" class="form-control" />
        <span asp-validation-for="PreOrderDays" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostedDate">Last Posted Date</label>
        <input asp-for="PostedDate" asp-format="{0:MM/dd/yyyy}" class="form-control calendar" readonly="readonly" />
        <span asp-validation-for="PostedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="photoUpload">Photo</label>
        <input id="photoUpload" name="photoUpload" type="file" />
    </div>
    <div class="form-group">
        <label asp-for="PostURL">Page URL</label>
        <input asp-for="PostURL" class="form-control no-max" />
        <span asp-validation-for="PostURL" class="text-danger"></span>
    </div>

    <hr />
    <button type="submit" class="btn btn-success pull-right">Submit</button>
</form>
