@{
    ViewData["Title"] = "Edit Shop";
}

@model Shop

<h1>Edit Shop</h1>

<div class="row">
    @await Component.InvokeAsync(nameof(ShopEditor), new { id = ViewBag.Id })
</div>

@section scripts {
    <script type="text/javascript">
        $("input.calendar").datepicker({
            format: "mm/dd/yyyy"
        });
    </script>
}
