@{
    ViewData["Title"] = "New Post";
}

@model Post

<h1>New Post</h1>

<div class="row">
    @await Component.InvokeAsync(nameof(PostEditor))
</div>

@section scripts {
    <script type="text/javascript">
        $("input.calendar").datepicker({
            format: "mm/dd/yyyy"
        });
    </script>
}
